<!DOCTYPE html>
<html lang="en">

<head>
    <title>View Post | BlogChain</title>
    {% include "header.html" %}
</head>

<body class="light-theme">
    <div class="container mt-5">
        {% include "navbar.html" %}

        <div class="container mt-5 mb-5">
            <div class="row justify-content-center">
                <div class="col-md-8 content-box low">
                    {% if post.author == current_user.username %}
                        <a href="{{ url_for('posts._update', author=post.author, post_id=post.id) }}" title="Update Post" class="btn btn-primary post-button-2"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{{ url_for('posts._delete', author=post.author, post_id=post.id) }}" title="Delete Post" class="btn btn-danger post-button-1"><i class="fa-solid fa-trash"></i></a>
                    {% else %}
                        <a href="{{ url_for('tips._send', author=post.author, post_id=post.id) }}" title="Tip" class="btn btn-success post-button-1"><i class="fa-solid fa-sack-dollar"></i></a>
                    {% endif %}
                    <h1>{{ post.title }}</h1>
                    <p><strong>Author:</strong> {{ post.author }}</p>
                    <p><strong>Date Posted:</strong> {{ post.created_at|format }}</p>
                    {{ post.content|markdown|safe }}
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}

    {% include "scripts.html" %}

</body>

</html>
