<div class="row">
    <div class="col-md-6">
        <a href="{{ url_for('meta._index') }}" class="header-link"><h1 class="mb-4">BlogChain</h1></a>
    </div>
    <div class="col-md-6 text-right">
        {% include "theme-toggle.html" %}
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('meta._index') }}" title="Home" class="btn btn-primary"><i class="fa-solid fa-house"></i></a>
            <a href="{{ url_for('app._index') }}" title="Dashboard" class="btn btn-warning"><i class="fa-solid fa-user"></i></a>
            <a href="{{ url_for('posts._me') }}" title="My Posts" class="btn btn-warning"><i class="fa-solid fa-bars"></i></a>
            <a href="{{ url_for('posts._new') }}" title="New Post" class="btn btn-success"><i class="fa-solid fa-plus"></i></a>
            <a href="{{ url_for('tips._view') }}" title="Tips" class="btn btn-info"><i class="fa-solid fa-money-bill-transfer"></i></a>
            <a href="{{ url_for('auth._settings') }}" title="Settings" class="btn btn-secondary"><i class="fa-solid fa-gear"></i></a>
            <button onclick="logout()" class="btn btn-danger">Logout</button>
        {% else %}
            <button onclick="login()" class="btn btn-primary">Login with MetaMask</button>
        {% endif %}
    </div>
</div>
